/*=====================================================*/
/* Parallax Styles */
/*=====================================================*/

.parallax-div {
	height: 500px;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: center;
	color: #fff;
}

/* Add Images */
div.parallax-1 {
	background-image: url('../img/mosque/mosque-edited.jpg');
	z-index: 1;
}
div.parallax-2 {
	background-image: url('../img/mosque/mosque2-edited.jpg');
	z-index: 2;
}
div.parallax-3 {
	background-image: url('../img/mosque/mosque3-edited.jpg');
	z-index: 3;
}


/*=====================================================*/
/* Screen Styles */
/*=====================================================*/

/* Computers */
@media (min-width: 768px) {
	.parallax-div {
		background-repeat: no-repeat;
		background-attachment: fixed;
	}

	/* Add Images */
	div.parallax-1 {
		background-image: none;
		background: 
					url(../img/pattern.png) repeat,
					url(../img/mosque/mosque-edited.jpg) no-repeat fixed center;
	}
	div.parallax-2 {
		background-image: none;
		background: 
					url(../img/pattern.png) repeat,
					url(../img/mosque/mosque2-edited.jpg) no-repeat fixed center;
	}
	div.parallax-3 {
		background-image: none;
		background: 
					url(../img/pattern.png) repeat,
					url(../img/mosque/mosque3-edited.jpg) no-repeat fixed center;
	}
}


/*=====================================================*/
/* Vertical Centering */
/*=====================================================*/

.box-wrap {
	height: inherit;
	text-align: center;
}
.box-wrap:before {
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.box {
	display: inline-block;
	vertical-align: middle;
}


/*=====================================================*/
/* Landing Elements */
/*=====================================================*/

.landing-elements div {
	font-size: 25px;
	opacity: 0;
	transform: translateX(10px);
	transition: all 0.5s ease-in-out;
}
.landing-elements div.slide-in {
	opacity: 1;
	transform: translateX(0px);
}












